.header{
    justify-content:space-around;
    
    margin-right: 5%;
    display: flex;
   color: white;
   height: 80px;
}

.soge{
    font-style: italic;
   padding-top: 15px;
    align-items: center;
    text-align: center;
    width: 17%;
    height: 37px;
}


.soge:hover{
   background-color: white;
   color: black;
   transition: width 1000ms ease-in, background-color 1000ms ease-in;
   
   }

.login{
   
   width: 85px;
   height: 40px;
   margin-top: 28px;
   right: 100px;
   margin-right: 6%;
   margin-left: 1%;
}
body{
    background-color:white;
}
.footer{
    color: white;
    text-align: center;
}
.footer2{
    color: white;
    text-align: center;
    font-size: small;
    font-style: italic;
}
.Putin{
    width: 50%;
    margin-left: 26%;
}
.spaceX{
    width: 20%;
    margin-right: 5%;
    border-radius: 30%;
}
h1{
    text-align: center;
    color: white;
}
.ship{
    margin-left: 25%;
    margin-top: 100px;
    border-radius: 30% ;
}
.mainVideo{
    margin-top: 10px;
  
}
.video3{
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
}
.video4{

    margin-top: 20px;
    margin-left: 25%;
    width: 50%; 
}
.stupid{
    font-style: italic;
    margin-top: 150px;
}
.stupid2{
    font-style: italic;
    margin-top: 150px;
    margin-bottom: 150px;
   
   
}
.CEO{
    border: 1px solid white;
    width: 40%;
    margin-left: 30%;
}

.CEO:hover{
    background-color:white; 
    color:  black;
 

    transition: width 1000ms ease-in, background-color 1000ms ease-in;
    
}
.video4:hover{
    background-color:white; 
    color:  black;
 

    transition: width 1000ms ease-in, background-color 1000ms ease-in;
}